<h1>Login to Sneakelp!</h1>

<h3> <%= flash[:error] %> </h3>
<%= form_for(:user) do |f| %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Log In" %>
<% end %>