<h1>Add a Review</h1>

<%= render partial: 'layouts/errors', locals: {object: @review} %>

<%= form_for(@review) do |f| %>
    <% if params[:sneaker_id]%>
        <% f.hidden_field :sneaker_id%>
    <% else %>
        <div>
            <%= f.label :sneaker_id, "Select a sneaker" %>
            <%= f.collection_select :sneaker_id, Sneaker.alpha, :id, :model_colorway_brand, include_blank: 'Select One'%>
        </div>
    <% end %>
        <div>
            <%= f.label :rating  %>
            <%= f.number_field :rating, min:0, max:5 %>
        </div>
        <div>
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>
        <div>
            <%= f.label :content %>
            <%= f.text_area :content, size: "25x5"%>
        </div>
    <br>
    <%= f.submit %>

<% end %>
