<!DOCTYPE html>
<html>
  <head>
    <title>Sneakelp</title>
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/style.css" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <div>
      <%= link_to 'Log Out', logout_path, method: :delete %>
      <%= link_to 'Add a Sneaker', new_sneaker_path %>
      <%= link_to 'All Sneakers', sneakers_path %>
      <%= link_to 'Add a Review', new_review_path %>
      <%= link_to 'All Reviews', reviews_path %>
      <%= link_to 'All Brands', brands_path %>
    </div>


  <body>
    <%= yield %>
  </body>
</html>



